
@font-face{
	src: url('./fonts/AvenirNextCyr-Regular.ttf');
	font-family: AvenirNext;
}

@font-face{
	src: url('./fonts/ProximaNova-Reg.otf');
	font-family: ProximaNova;
}

@font-face{
	src: url('./fonts/OpenSans-Regular.ttf');
	font-family: OpenSans;
	font-weight: 400;
}

@font-face{
	src: url('./fonts/OpenSans-Bold.ttf');
	font-family: OpenSans;
	font-weight: 700;
}

@font-face{
	src: url('./fonts/OpenSans-Light.ttf');
	font-family: OpenSans;
	font-weight: 100;
}

@font-face{
	src: url('./fonts/Montserrat-Regular.ttf');
	font-family: Montserrat;
}

@font-face{
	src: url('./MyriadPro-Regular.otf');
	font-family: MyriadPro-Regular;
}

.header{
	display: flex;
	justify-content: space-between;
	padding: 43px 63px;
}

/*ячейки надписей с иконками ставлю в ряд*/
.main-notes{
	display: flex;
	width: 1200px; 
	list-style: none;
	margin: 0 auto;       
}

/*формирование ячейки надписей с иконками*/
.main-block{             
	width: 320px; 
	padding: 70px 9px 120px;
}

.benefits_text{
	color: #ffffff;
	font-size: 14px;
	line-height: 23px;
	font-family: ProximaNova;
	padding: 4px 6px 4px 0px;
}

.border{
	padding: 38px 4px 0px;
	color: #ffffff;
	font-size: 24px;
	font-family: OpenSans;
}

.cont-for-border{
	height: 36px;
}

/*белый квадрат*/
.main-info{
	width: 321px;
	height: 354px;
	background: #ffffff;
	text-align: center;	
	padding: 40px 45px 0px;
}

.main-line{
	display: flex;
	justify-content: center;	
	width: 1180px;
	height: 394px;
	margin: 0px 222px 0px;
}

.img1{
position: relative;
display: block;
}

.img1:before{
	content: '';
	background: rgba(0, 0, 0, 50%);
	width: 794px;
	height: 394px;
	position: absolute;
	opacity: 0;
	transition: all 2s;
}

.img1:hover:before{ 
	opacity: 1;
}

.img1:hover .h2-hover {
	opacity: 1;
}

.img1:hover .h3-hover {
	opacity: 1;
}

.text-i{
	position: relative;
	left: 15px;
	top: -250px;
}

.text-img2{
	color: #a2ca28; /*зелёный*/
	font-size: 35px;
	font-family: OpenSans, sans-serif;
	text-transform: uppercase;
}


.h3-hover{
	color: #fd634e;
	font-size: 14px;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	text-align: center;
	opacity: 0;
	transition: all 2s;
}

.h2-hover{
	color: #a2ca28;
	font-size: 35px;
	text-transform: uppercase;
	font-family: OpenSans, sans-serif;
	font-weight: 100;
	text-align: center;
	opacity: 0;
	transition: all 2s;
}

.img1{
position: relative;
}

.img1:before{
	content: '';
	display: block;
	background: rgba(0, 0, 0, 50%);
	width: 794px;
	height: 394px;
	position: absolute;
}

.text-i{
	position: relative;
	left: 15px;
	top: -250px;
}

.text-img2{
	color: #a2ca28; /*зелёный*/
	font-size: 35px;
	font-family: OpenSans, sans-serif;
	text-transform: uppercase;
}


.h3{
	color: #fd634e;
	font-size: 14px;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	text-align: center;
}

.h2{
	color: #a2ca28;
	font-size: 35px;
	text-transform: uppercase;
	font-family: OpenSans, sans-serif;
	font-weight: 100;
	text-align: center;
}

.p{
	color: #656e74;
	font-size: 14px;
	font-family: OpenSans;
	font-weight: 400;
	line-height: 2;
}

.background-image {
	background-image: url('images/background.jpg');
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu{
	display: flex;
	width: 503px;
	list-style: none;
	justify-content: space-between;
	font-family: AvenirNext, sans-serif;
	margin: 23px -24px 0px 0px;
}

.menu-item{
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	font-family: MyriadPro-Regular;
}

.menu-item:hover{
animation: readm 2s;
}

.menu-link{
	color: #ffffff;
	text-decoration: none;	
}

.menu-link:hover{
	animation: infinite explore 0.5s;
}

.title{
	color: #ffffff;
	font-size: 40px;
	text-transform: uppercase;
	margin: 553px 0 0 127px;
	font-family: AvenirNext;
}

.subtitle{
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	margin: 0px 0 0 291px;
	font-family: OpenSans;
	font-weight: 700;
	letter-spacing: 0.2em;
}

.main-page{
	background: #a2ca28;
}


@keyframes explore{
	0% {
		color: #fd634e;
	}
	100% {
		color: #fd634e;
	}
}

.mein-link{
	color: #a2ca28;
	font-size: 14px;
	font-family: OpenSans;
}

.mein-link:hover {
animation: readm 2s;
display: block;
	}

@keyframes readm{
	0% {
		transform: scale(1);
	}
	90% {
		transform: scale(1.5);
	}
}

.foot-color{
	background: #0d1119;	
}

.foot-line{
	display: flex;
	justify-content: space-between;
	width: 1000px;
	padding: 80px 220px 30px 220px
}

.input{
	border: 1px solid gray;
	font-size: 14px;
	padding: 10px 15px;
	color: #83969f;
	font-family: ProximaNova;
}

.input-name{
	border: 1px solid gray;
	font-size: 14px;
	padding: 10px 15px;
	width: 200px;
	color: #83969f;
	font-family: ProximaNova;
}

.button{
	background: #a2ca28;
	font-size: 15px;
	padding: 10px 23px;
	color: #ffffff;
	font-family: ProximaNova;
}

.button:hover {
	animation: infinite animationButton 0.2s; 
}

@keyframes animationButton{
	0% {
		transform: rotateZ(0deg);
	}
	50% {
		transform: rotateZ(2deg);
	}
	100% {
		transform: rotateZ(-2deg);
	}
}

/*ставлю в ряд соцсети c промежутком*/
.social{
	display: flex;
	justify-content: space-between;
	width: 220px;
	list-style: none;
}

.social-y{
	position: relative;
    width: 50px;
    height: 50px;
    background: #ed3123;
    border-radius: 50px;
}

.social-f{
	position: relative;
    width: 50px;
    height: 50px;
    background: #2e3192;
    border-radius: 50px;
}

.social-t{
	position: relative;
    width: 50px;
    height: 50px;
    background: #00aeef;
    border-radius: 50px;
}

.social-i{                  
	position: relative;
    width: 50px;
    height: 50px;
    background: #171a8f;
    border-radius: 50px;
}

.social-inside{
	position: absolute;
	top: 15px;
	left: 18px;
}